<div @fadeInPage (click)="closeUserMenu()"
  class="flex min-h-full flex-col bg-gradient-to-r from-default-from to-default-to">

  <nav class="bg-gradient-to-r from-nav-from to-nav-to border-b-2 border-borderColorPopup">
    <div class="mx-auto max-w-7xl px-2 md:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
          <!-- Mobile menu button-->
          <button (click)="toggleMobileMenu()" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-textColorPrimary 
          hover:bg-navColorHover hover:text-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Icon when menu is closed.
                Menu open: "hidden", Menu closed: "block" -->
            <svg class="block h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Icon when menu is open.
                Menu open: "block", Menu closed: "hidden" -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <!-- <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
            alt="Your Company"> -->
            <span class="logo-span text-2xl text-textColorPrimary">Videoflix</span>
          </div>
          <div class="hidden md:ml-6 md:block">
            <div class="flex space-x-4">
              <a (click)="changePage('dashboard')"
                class="rounded-md px-3 py-2 text-md font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                [ngClass]="{'bg-navColorHover' : activePage('dashboard'), 'text-white' : activePage('dashboard')}">Dashboard</a>
              <a (click)="changePage('films')"
                class="rounded-md px-3 py-2 text-md font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                [ngClass]="{'bg-navColorHover' : activePage('films'), 'text-white' : activePage('films')}">Films</a>
              <a (click)="changePage('series')"
                class="rounded-md px-3 py-2 text-md font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                [ngClass]="{'bg-navColorHover' : activePage('series'), 'text-white' : activePage('series')}">Series</a>
              <a (click)="changePage('userList')"
                class="rounded-md px-3 py-2 text-md font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                [ngClass]="{'bg-navColorHover' : activePage('userList'), 'text-white' : activePage('userList')}">My List</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0">
          <span class="text-md text-textColorPrimary">{{ authService.getProfile()?.name || 'Username' }}</span>
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div>
              <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none"
                id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <!-- <span class="absolute -inset-1.5"></span> -->
                <!-- <span class="sr-only">Open user menu</span> -->
                <img (click)="$event.stopPropagation(); toggleUserMenu()"
                  class="h-10 w-10 rounded-full border-2 border-borderColorPopup hover:brightness-125"
                  [src]="getProfileImage()" alt="profile-img">
              </button>
            </div>

            <div *ngIf="userMenuOpen" @fadeInPage (click)="$event.stopPropagation()" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-defaultColor shadow-lg ring-1 ring-black 
              ring-opacity-5 focus:outline-none border border-borderColorPopup overflow-hidden" role="menu"
              aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <a (click)="goToProfiles()"
                class="block px-4 py-2 text-md text-textColorPrimary hover:bg-navColorHover hover:text-white cursor-pointer"
                role="menuitem" tabindex="-1" id="user-menu-item-0">Profile</a>
              <a (click)="authService.logout()"
                class="block px-4 py-2 text-md text-textColorPrimary hover:bg-navColorHover hover:text-white cursor-pointer"
                role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu -->
    <div *ngIf="mobileMenuOpen" @fadeInPage class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <a (click)="changePage('dashboard')"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
          [ngClass]="{'bg-navColorHover' : activePage('dashboard'), 'text-white' : activePage('dashboard')}">Dashboard</a>
        <a (click)="changePage('films')"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
          [ngClass]="{'bg-navColorHover' : activePage('films'), 'text-white' : activePage('films')}">Filme</a>
        <a (click)="changePage('series')"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
          [ngClass]="{'bg-navColorHover' : activePage('series'), 'text-white' : activePage('series')}">Serien</a>
        <a (click)="changePage('userList')"
          class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
          [ngClass]="{'bg-navColorHover' : activePage('userList'), 'text-white' : activePage('userList')}">Meine
          Liste</a>
      </div>
    </div>
  </nav>


  <!-- ToDo Dashboard Component -->
  <ng-container *ngIf="activePage('dashboard')">
    <div class="w-full h-96 flex  start"></div>

    <div class="main">
      <div class="sor">
        <img id="left1" (click)="scrollingLeft1()" src="/assets/img/barni/arrow-left.png" alt="">
        <div id="line1" class="line ">

          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/lost_in_space.png">

        </div>
        <img id="right1" (click)="scrollingRight1()" src="/assets/img/barni/arrow-right.png" alt="">
      </div>

    </div>

    <div class="main">
      <div class="sor">
        <img id="left2" (click)="scrollingLeft2()" src="/assets/img/barni/arrow-left.png" alt="">
        <div id="line2" class="line">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/am_gang.png">


        </div>
        <img id="right2" (click)="scrollingRight2()" src="/assets/img/barni/arrow-right.png" alt="">
      </div>

    </div>

    <div class="main">
      <div class="sor">
        <img id="left3" (click)="scrollingLeft3()" src="/assets/img/barni/arrow-left.png" alt="">
        <div id="line3" class="line">


          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">
          <img style="margin-right: 12px;" src="/assets/img/barni/300.png">




        </div>
        <img id="right3" (click)="scrollingRight3()" src="/assets/img/barni/arrow-right.png" alt="">
      </div>

    </div>
  </ng-container>


  <!-- ToDo Films Component -->
  <ng-container *ngIf="activePage('films')">
    <div class="video-box-wrapper p-8 gap-8">
      <div *ngFor="let video of allFilms; let i = index"
        class="h-36 w-52 bg-navColorHover rounded-lg flex items-center justify-center text-3xl text-textColorPrimary">
        Film {{
        i }}
      </div>
    </div>
  </ng-container>

  <!-- ToDo Series Component -->
  <ng-container *ngIf="activePage('series')">

    <div class="video-box-wrapper p-8 gap-8">
      <div *ngFor="let video of allSeries; let i = index"
        class="h-36 w-52 bg-navColorHover rounded-lg flex items-center justify-center text-3xl text-textColorPrimary">
        Serie
        {{ i }}
      </div>
    </div>
  </ng-container>

  <!-- ToDo Meine Liste Component -->
  <ng-container *ngIf="activePage('userList')">
    <div class="video-box-wrapper p-8 gap-8">
      <div *ngFor="let video of userVideos; let i = index"
        class="h-36 w-52 bg-navColorHover rounded-lg flex items-center justify-center text-3xl text-textColorPrimary">
        Mein
        Video {{ i }}
      </div>
    </div>
  </ng-container>


  <!-- Notification Button -->

  <!-- <button type="button"
        class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
        <span class="absolute -inset-1.5"></span>
        <span class="sr-only">View notifications</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
        </svg>
     </button> -->
</div>