
.mainpage-wrapper {
  overflow-x: hidden;
  //height: 100vh
  height: 100%;
}


.poster-container {
  display: flex;
  flex-wrap: wrap;

  img {
    width: 250px;
    height: 180px;
    object-fit: cover;
  }
}

.poster-container div {
  margin: 10px;
}

img {
  cursor: pointer;
}

// .line-wrapper {
//   display: flex;
//   justify-content: space-between;
//   width: calc(100% - 48px);
//   margin-left: 48px;
//   position: relative;
// }

// .line {
//   display: flex;
//   overflow-x: visible;
//   scroll-behavior: smooth;
//   align-items: center;
//   gap: 32px;
//   height: 190px;
//   transition: all 0.5s ease;
//   margin-top: 48px;
// }


.line-wrapper {
  display: flex;
  //width: calc(100% - 48px);
 // margin-left: 48px;
   position: relative;
   
  
}

.line {
  display: flex;
  overflow-x: visible;
  scroll-behavior: smooth;
  align-items: center;
  gap: 32px;
  height: 190px;
  //transition: all 0.5s ease;
  margin-top: 48px;
  opacity: 0;
  transition: opacity 2s ease;
}

.line.flex {
  opacity: 1;
}

.line-wrapper-left {
  z-index: 102;
  width: 10%;
  height: 150px;
  position: absolute;
  left: 0;
  
  &:hover {

    #left1,
    #left2,
    #left3 {
      display: flex;
    }
  }
}

.line-wrapper-right {
  z-index: 102;
  width: 10%;
  height: 100%;
  position: absolute;
  right: 0;

  &:hover {

    #right1,
    #right2,
    #right3 {
      display: block;
    }
  }
}


.line-wrapper::-webkit-scrollbar {
  display: none;
}

.line::-webkit-scrollbar {
  display: none;
}


#left1,
#left2,
#left3 {
  width: 50px;
  height: 70px;
  position: absolute;
  top: 110px;
  left: 16px;
  z-index: 10;
  display: none;
}

#right1,
#right2,
#right3 {
  width: 50px;
  height: 70px;
  position: absolute;
  top: 110px;
  right: 16px;
  z-index: 10;
  display: none;
}

.video-wrapper {

  width: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease;
}

.video-container.flex {
  opacity: 1;
}

.video-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.title {
  color: white;
  position: absolute;
  bottom: 130px;
  left: 50px;
  font-size: 3rem;
  font-weight: bold;
  z-index: 1;
}

.description {
  color: white;
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 1rem;
  margin-top: 0.5rem;
  z-index: 1;
}

.position {
  position: absolute;
  left: 48%;
  top: 43%;
  width: 70px;
  height: 70px;
  border: 4px solid rgba(255, 255, 255, 0.25);
  border-top: 4px solid white;
}