<main>


<!-- <navbar (pageChanged)="onPageChanged($event)" [closeMenu]="closeMenu"></navbar> -->
<div @fadeInPage (click)="closeUserMenu()"
  class="flex min-h-full flex-col bg-gradient-to-r from-default-from to-default-to pb-10">

  <ng-container *ngIf="activePage('dashboard')">
    <div class="w-full h-96 flex video-wrapper">
      <div class="video-container">
        <h1 class="title">DANTEGRAFICO Art</h1>
        <p class="description">Pixabay
          pixabay.com/es/users/dantegráfico-15862390
        </p>
        <video #videoPlayerStart class="video-content" loop >
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    
<!-- <div  class="line-wrapper">
    <div id="line1" class="line" >

      <div class="hüle">
        <app-video></app-video>
      </div>
      <div class="hüle">
        <app-video></app-video>
      </div>
      <div class="hüle">
        <app-video></app-video>
      </div>
      <div class="hüle">
        <app-video></app-video>
      </div>
      <div class="hüle">
        <app-video></app-video>
      </div>
      <div class="hüle">
        <app-video></app-video>
      </div>
      <div class="hüle">
        <app-video></app-video>
      </div>
      <div class="hüle">
        <app-video></app-video>
      </div>

      
  </div>
     <div  class="line-wrapper-left">
       <img  id="left1" (click)="scrollingLeft1()" src="/assets/img/barni/arrow-left.png" alt="">
     </div>
     <div  class="line-wrapper-right" >
       <img  id="right1" (click)="scrollingRight1()" src="/assets/img/barni/arrow-right.png" alt="">
     </div>
</div>
 

<div  class="line-wrapper">
  <div id="line2" class="line" >

    <div class="hüle">
      <app-video></app-video>
    </div>
    <div class="hüle">
      <app-video></app-video>
    </div>
    <div class="hüle">
      <app-video></app-video>
    </div>
    <div class="hüle">
      <app-video></app-video>
    </div>
    <div class="hüle">
      <app-video></app-video>
    </div>
    <div class="hüle">
      <app-video></app-video>
    </div>
    <div class="hüle">
      <app-video></app-video>
    </div>
    <div class="hüle">
      <app-video></app-video>
    </div>

    
</div>
   <div class="line-wrapper-left">
     <img id="left2" (click)="scrollingLeft2()" src="/assets/img/barni/arrow-left.png" alt="">
   </div>
   <div class="line-wrapper-right" >
     <img id="right2" (click)="scrollingRight2()" src="/assets/img/barni/arrow-right.png" alt="">
   </div>
</div>
 -->


 <div class="line-wrapper">
  <div id="line3" class="line">
    <app-video *ngFor="let video of videoData"
     [videoUrlGcs]="video.videoUrlGcs"
      [posterUrlGcs]="video.posterUrlGcs"
      (hover)="onVideoHover($event)"
      ></app-video>
  </div>
  <div class="line-wrapper-left">
    <img id="left3" (click)="scrollingLeft3()" src="/assets/img/barni/arrow-left.png" alt="">
  </div>
  <div class="line-wrapper-right">
    <img id="right3" (click)="scrollingRight3()" src="/assets/img/barni/arrow-right.png" alt="">
  </div>
</div>


<!-- <div  class="line-wrapper">
  <div id="line3" class="line" >

      <app-video></app-video>
     
</div>
   <div class="line-wrapper-left">
     <img id="left3" (click)="scrollingLeft3()" src="/assets/img/barni/arrow-left.png" alt="">
   </div>
   <div class="line-wrapper-right" >
     <img id="right3" (click)="scrollingRight3()" src="/assets/img/barni/arrow-right.png" alt="">
   </div>
</div> -->




<!-- TEST  -->
<!-- <div *ngIf="posterUrls.length > 0">
  <h2>Poster</h2>
  <div class="poster-container">
    <div *ngFor="let url of posterUrls">
      <img [src]="url" alt="Poster">
      <h3 style="color: white;">{{ url }}</h3>
    </div>
  </div>
</div>

<div *ngIf="posterUrls.length === 0">
  <p>Keine Poster verfügbar.</p>
</div> -->

<!-- <img src="https://storage.googleapis.com/videoflix-videos/video-posters/holiday_poster.jpg" alt=""> -->
<!-- <img src="https://storage.googleapis.com/videoflix-videos/video-posters/waterfall_2_J0Kvtvu_poster.jpg" alt=""> -->
 
</ng-container>


  <!-- ToDo Films Component -->
  <ng-container *ngIf="activePage('films')">
    <div class="video-box-wrapper p-8 gap-8">
      <div *ngFor="let video of allFilms; let i = index"
        class="h-36 w-52 bg-navColorHover rounded-lg flex items-center justify-center text-3xl text-textColorPrimary">
        Film {{
        i }}
      </div>
    </div>
  </ng-container>

  <!-- ToDo Series Component -->
  <ng-container *ngIf="activePage('series')">

    <div class="video-box-wrapper p-8 gap-8">
      <div *ngFor="let video of allSeries; let i = index"
        class="h-36 w-52 bg-navColorHover rounded-lg flex items-center justify-center text-3xl text-textColorPrimary">
        Serie
        {{ i }}
      </div>
    </div>
  </ng-container>

  <!-- ToDo Meine Liste Component -->
  <ng-container *ngIf="activePage('userList')">
    <div class="video-box-wrapper p-8 gap-8">
      <div *ngFor="let video of userVideos; let i = index"
        class="h-36 w-52 bg-navColorHover rounded-lg flex items-center justify-center text-3xl text-textColorPrimary">
        Mein
        Video {{ i }}
      </div>
    </div>
  </ng-container>


  <!-- Notification Button -->

  <!-- <button type="button"
        class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
        <span class="absolute -inset-1.5"></span>
        <span class="sr-only">View notifications</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
        </svg>
     </button> -->
</div>
<footer></footer>
