<!-- <div class="video-box-wrapper p-8 gap-8">
    <div *ngFor="let video of allFilms; let i = index"
        class="h-36 w-52 bg-navColorHover rounded-lg flex items-center justify-center text-3xl text-textColorPrimary">
        Film {{
        i }}
    </div>
</div> -->

<div *ngIf="!loading" class="films-container">
    <app-video *ngFor="let video of videos$ | async; let index = index" class="videoInFilms"
        [posterUrlGcs]="video.posterUrlGcs || '/assets/img/videostore/300.png'" 
        [title]="video.title"
        [description]="video.description" 
        [category]="video.category"
        [age]="video.age"
        [resolution]="video.resolution"
        [release_date]="video.release_date">
    </app-video>
</div>