<!-- <div class="w-full flex random-video-wrapper">
    <div class="random-video-container w-full h-full relative">
        <video preload="auto" #previewVideo class="random-video-content w-full h-full object-cover" [src]="videoUrl">
            Your browser does not support the video tag.
        </video>
        <div class="random-video-overlay">
            <div class="random-video-info" *ngIf="currentVideo">
                <h2 class="text-5xl text-textColorPrimary">{{ currentVideo.title }}</h2>
                <span class="text-2xl text-textColorPrimary">{{ currentVideo.description }}</span>
                <div class="text-xl text-textColorPrimary flex gap-6">
                    <span>{{ currentVideo.category === 'film' ? 'Film' : 'Serie' }}</span>
                    <span>{{ currentVideo.release_date }}</span>
                    <span>{{ currentVideo.resolution }}</span>
                </div>
                <div class="flex items-center justify-center gap-x-9">
                    <a (click)="playPreviewVideo()" style="width: 185px; text-align: center; white-space: nowrap;"
                        class="rounded-md bg-accentColor px-9 py-2 sm:py-2 md:py-2.5 lg:py-2.5 
                    text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white shadow-sm 
                    hover:bg-accentColorHover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
                    focus-visible:outline-accentColor cursor-pointer">
                        Abspielen</a>
                </div>
                <div class="flex justify-center items-center text-textColorPrimary text-2xl fsk-logo">{{
                    currentVideo.age }}</div>
            </div>
        </div>
        <div class="mute-btn-container" (click)="toggleMute()">
            <a
                class="rounded-md bg-accentColor px-2.5 py-2.5 text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white shadow-sm 
            hover:bg-accentColorHover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
            focus-visible:outline-accentColor cursor-pointer flex justify-center items-center border-2 border-textColorPrimary">
                <svg *ngIf="muted" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="size-7 inline">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M19.114 5.636a9 9 0 0 1 0 12.728M16.463 8.288a5.25 5.25 0 0 1 0 7.424M6.75 8.25l4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z" />
                </svg>
                <svg *ngIf="!muted" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="size-7 inline">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.25 9.75 19.5 12m0 0 2.25 2.25M19.5 12l2.25-2.25M19.5 12l-2.25 2.25m-10.5-6 4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z" />
                </svg>
            </a>
        </div>
    </div>
</div> -->

<app-slideshow *ngIf="videoData.length" [videoData]="videoData"
    [animationClass]="'slide-left-animation'"></app-slideshow>

<app-slideshow *ngIf="videoData.length" [videoData]="videoData"
    [animationClass]="'slide-right-animation'"></app-slideshow>



<!-- <a style="width: 185px; text-align: center; white-space: nowrap;" class="rounded-md bg-greyTransparent px-9 py-2 sm:py-2 md:py-2.5 lg:py-2.5 
        text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white shadow-sm cursor-pointer hover:text-accentColor">weitere
        Infos <span aria-hidden="true" class="btn-arrow">→</span></a> -->