<div @fadeInOut *ngIf="loading" class="loading-screen-video-overlay flex justify-center items-center
     bg-gradient-to-r from-default-from to-default-to" #loadingOverlay>
    <img src="assets/svg/rings.svg" alt="Loading Rings">
</div>

<div class="w-full flex random-video-wrapper">
    <div [@fadeInSuperSlow] class="random-video-container relative w-full h-full overflow-hidden">
        <img @fadeOutSuperSlow *ngIf="thumbnailVisible" [src]="thumbnailVisible ? previewVideoData.posterUrlGcs : ''"
            class="absolute z-20 w-full h-full object-cover w-full h-44" [attr.draggable]="false"
            (dragstart)="$event.preventDefault()">
        <video #previewVideo playsinline class="absolute z-10 w-full !h-full object-cover video-js vjs-fluid vjs-default-skin 
            vjs-control-bar vjs-big-play-button">
            Your browser does not support the video tag.
        </video>
        <div
            class="random-video-overlay absolute z-30 w-full h-full flex justify-start items-start sm:items-start md:items-start lg:items-center">
            <div class="w-4/5 sm:w-4/5 md:w-4/5 lg:w-3/5 flex flex-col justify-center items-start gap-4 sm:gap-6 md:gap-8 lg:gap-8"
                *ngIf="previewVideoData">
                <h2 class="text-3xl text-textColorPrimary text-shadow-xl sm:text-4xl md:text-5xl lg:text-5xl">{{
                    previewVideoData.title }}</h2>
                <span class="text-xl text-textColorPrimary text-shadow-xl sm:text-xl md:text-2xl lg:text-2xl">{{
                    previewVideoData.description }}</span>
                <div class="text-xl text-textColorPrimary text-shadow-lg sm:text-xl md:text-2xl lg:text-2xl flex gap-6">
                    <span>{{ previewVideoData.category === 'film' ? 'Film' : 'Serie' }}</span>
                    <span>{{ previewVideoData.release_date }}</span>
                    <span
                        class="resolution flex justify-center items-center px-2 py-0 text-sm leading-4 border border-textColorPrimary rounded-md">{{
                        previewVideoData.resolution }}</span>
                </div>
                <div class="flex items-center justify-center gap-x-4 sm:gap-x-4 md:gap-x-9 lg:gap-x-9">
                    <a (click)="enterFullscreen()" class="rounded-md bg-accentColor w-44  
                    px-9 py-2 sm:py-2 md:py-2.5 lg:py-2.5 text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white text-center
                    hover:bg-accentColorHover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 shadow-md
                    focus-visible:outline-accentColor cursor-pointer whitespace-nowrap">
                        Abspielen</a>
                    <a (click)="toggleVideoInViewList()" class="flex items-center rounded-md 
                        bg-greyTransparent hover:bg-greyTransparentHover px-4 sm:px-4 md:px-9 lg:px-9 py-2 sm:py-2 md:py-2.5 lg:py-2.5 
                        text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white shadow-md cursor-pointer hover:text-accentColor 
                        max-h-10 sm:max-h-10 md:max-h-none lg:max-h-none text-center whitespace-nowrap"
                        [class.disabled]="videoService.updatingViewList"
                        [style.pointer-events]="videoService.updatingViewList ? 'none' : 'auto'"
                        [style.opacity]="videoService.updatingViewList ? 0.7 : 1">
                        <span class="hidden sm:hidden md:flex lg:flex">{{ liked() ? 'Remove from' : 'Add to' }} my
                            list</span>
                        <span aria-hidden="true"
                            class="flex sm:flex md:hidden lg:hidden text-xl sm:text-xl md:text-2xl lg:text-2xl">+</span>
                    </a>
                </div>
                <div
                    class="fsk-logo absolute h-8 sm:h-8 md:h-12 lg:h-12 w-20 sm:w-20 md:w-28 lg:w-28 flex justify-start items-center 
                        text-textColorPrimary text-xl sm:text-xl md:text-2xl lg:text-2xl pl-5 sm:pl-5 md:pl-8 lg:pl-8 border-l-2 border-textColorPrimary">
                    {{ previewVideoData.age }}+</div>
            </div>
        </div>
        <div class="mute-btn-container absolute rounded-md" (click)="toggleMute()">
            <a
                class="rounded-md bg-accentColor px-2 py-2 text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white shadow-sm 
            hover:bg-accentColorHover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
            focus-visible:outline-accentColor cursor-pointer flex justify-center items-center border-2 border-textColorPrimary">
                <svg *ngIf="!previewVideo.muted" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" class="size-6 sm:size-6 md:size-7 lg:size-7 inline">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M19.114 5.636a9 9 0 0 1 0 12.728M16.463 8.288a5.25 5.25 0 0 1 0 7.424M6.75 8.25l4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z" />
                </svg>
                <svg *ngIf="previewVideo.muted" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" class="size-6 sm:size-6 md:size-7 lg:size-7 inline">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.25 9.75 19.5 12m0 0 2.25 2.25M19.5 12l2.25-2.25M19.5 12l-2.25 2.25m-10.5-6 4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<app-slideshow *ngIf="videoData.length" [videoData]="getOddVideoData()"
    [animationClass]="'slide-left-animation'"></app-slideshow>

<app-slideshow *ngIf="videoData.length" [videoData]="getEvenVideoData()"
    [animationClass]="'slide-right-animation'"></app-slideshow>