.random-video-wrapper {
  height: calc(100vh - 4rem);
  width: 100%;

  .random-video-container {
    transition: opacity 2s ease-in-out;

    .random-video-content {
      top: 0;
      left: 0;
      object-position: center;
      z-index: 0;
    }

    .random-video-overlay {
      top: 100px;
      left: 0;
      padding: 5%;
      z-index: 1;

      .fsk-logo {
        top: -25px;
        right: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    .mute-btn-container {
      right: 50px;
      bottom: 50px;
      z-index: 100;
    }
  }
}