<nav class="bg-gradient-to-r from-nav-from to-nav-to border-b-2 border-borderColorPopup">
    <div class="mx-auto max-w-7xl px-2 md:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
                <!-- Mobile menu btn-->
                <button (click)="toggleMobileMenu()" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-textColorPrimary 
          hover:bg-navColorHover hover:text-white" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <!-- Icon menu closed -->
                    <svg class="block h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!-- Icon menu open -->
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <span (click)="changePage('dashboard')"
                        class="logo-text text-2xl text-textColorPrimary cursor-pointer">Videoflix</span>
                </div>
                <div class="hidden md:ml-6 md:block">
                    <div class="flex space-x-4">
                        <a (click)="changePage('dashboard')"
                            class="rounded-md px-3 py-2 text-md font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                            [ngClass]="{'bg-navColorHover' : activePage('dashboard'), 'text-white' : activePage('dashboard')}">Dashboard</a>
                        <a (click)="changePage('films')"
                            class="rounded-md px-3 py-2 text-md font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                            [ngClass]="{'bg-navColorHover' : activePage('films'), 'text-white' : activePage('films')}">Films</a>
                        <a (click)="changePage('series')"
                            class="rounded-md px-3 py-2 text-md font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                            [ngClass]="{'bg-navColorHover' : activePage('series'), 'text-white' : activePage('series')}">Series</a>
                        <a (click)="changePage('playlist')"
                            class="rounded-md px-3 py-2 text-md font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                            [ngClass]="{'bg-navColorHover' : activePage('playlist'), 'text-white' : activePage('playlist')}">My
                            List</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0">
                <span class="hidden sm:flex text-md text-textColorPrimary">{{ authService.getProfile()?.name ||
                    'Username' }}</span>
                <!-- Profile dropdown -->
                <div class="relative ml-3">
                    <div>
                        <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none"
                            id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <img (click)="$event.stopPropagation(); toggleUserMenu()"
                                class="h-10 w-10 rounded-full border-2 border-borderColorPopup hover:brightness-125"
                                [src]="getProfileImage()" alt="profile-img">
                        </button>
                    </div>

                    <div *ngIf="userMenuOpen" @fadeInPage (click)="$event.stopPropagation()" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-defaultColor shadow-lg ring-1 ring-black 
              ring-opacity-5 focus:outline-none border border-borderColorPopup overflow-hidden" role="menu"
                        aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <a (click)="goToProfiles()"
                            class="block px-4 py-2 text-md text-textColorPrimary hover:bg-navColorHover hover:text-white cursor-pointer"
                            role="menuitem" tabindex="-1" id="user-menu-item-0">Profile</a>
                        <a (click)="authService.logout()"
                            class="block px-4 py-2 text-md text-textColorPrimary hover:bg-navColorHover hover:text-white cursor-pointer"
                            role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu -->
    <div *ngIf="mobileMenuOpen" @fadeInPage class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <a (click)="changePage('dashboard')"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                [ngClass]="{'bg-navColorHover' : activePage('dashboard'), 'text-white' : activePage('dashboard')}">Dashboard</a>
            <a (click)="changePage('films')"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                [ngClass]="{'bg-navColorHover' : activePage('films'), 'text-white' : activePage('films')}">Filme</a>
            <a (click)="changePage('series')"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                [ngClass]="{'bg-navColorHover' : activePage('series'), 'text-white' : activePage('series')}">Serien</a>
            <a (click)="changePage('playlist')"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-navColorHover hover:text-white cursor-pointer"
                [ngClass]="{'bg-navColorHover' : activePage('playlist'), 'text-white' : activePage('playlist')}">Meine
                Liste</a>
        </div>
    </div>
</nav>