.video-container {
  width: 313px; /// important width for video aligning
  transition: transform 225ms ease-in-out;
  z-index: 90;

  &:hover {
    transform: translateY(-.75rem) scale(1.2);
    transition-delay: 255ms;
    transform-origin: center;
    filter: brightness(1.2);
    z-index: 101;

    .video-wrapper {
      opacity: 100%;
    }
  }

  .video-logo-small {
    top: .25rem;
    left: .75rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    z-index: 93;
  }

  .video-thumbnail {
    top: 0;
    left: 0;
    z-index: 92;
    object-fit: cover;
    transition: transform 225ms ease-in-out;
  }

  .video-wrapper {
    //opacity: 0;
    transition: transform 225ms ease-in-out;

    .resolution {
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 2px;
    }

    .duration {
      opacity: 0;
      animation: fadeIn 1s ease forwards;
    }

    .age-container {
      padding-right: .08rem;
      padding-bottom: .06rem;
    }

    .info-icon {
      right: .5rem;
      top: .5rem;
      transition: all 225ms ease-in-out;

      &:hover {
        opacity: 0.65;
        scale: 1.15;
      }
    }
  }
}

.video-container:hover .video-wrapper {
  display: flex;
}

.video-wrapper {
  display: none;
}