

 <div class="main-video-container"  (mouseenter)="onHover()"  (mouseleave)="onLeave()">
                      
  <div class="video-container-above" >
    <img id="posterImg" [src]="posterUrlGcs" alt="Video Poster"> 
    <div  class="video-info">
      <h2>Title:{{ title }}</h2>
      <p>Description:{{ description }}</p>
      <p>Category:{{ category }}</p>
    </div>
    <h2 id="video-logo">VIDEOFLIX</h2>                     
  
  <div class="video-container">
    <video 
      [ngClass]="{'br-top-l-r': hoverClass}"
      #videoPlayer id="my-videos"
      class="video-js vjs-default-skin vjs-control-bar vjs-big-play-button bg-gradient-to-r from-default-from to-default-to"
      controls
      preload="auto"
     
      data-setup="{}"
      disablePictureInPicture
      type="application/x-mpegURL"
      [src]="videoUrl"
      >
      Your browser does not support the video tag.
    </video>
  </div>
</div>
<div  class="video-container-below">
  <h2>Title:{{ title }}</h2>
  <p>Description:{{ description }}</p>
  <p>Category:{{ category }}</p>
</div>        
</div>


<!-- width="640" height="264" -->


  <!-- <div class="video-container">
    <video id="my-videos" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264"
      data-setup="{}">
      <source src="https://storage.googleapis.com/videoflix-videos/hls/scooter/master.m3u8" type="application/x-mpegURL">
      Your browser does not support the video tag.
    </video>
  </div> -->
