

 <div class="main-video-container" (mouseenter)="onHover()" (mouseleave)="onLeave()">
                      
  <div class="video-container-above">
    <img id="posterImg" [src]="posterUrlGcs" alt="Video Poster"> 
    <div  class="video-info">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
    </div>
    <h2 id="video-logo">VIDEOFLIX</h2>                     
  
  <div class="video-container">
    <video
      #videoPlayer id="my-videos"
      class="video-js vjs-default-skin"
      controls
      preload="auto"
      width="640" height="264"
      [src]="videoUrlGcs"
      data-setup="{}"
      disablePictureInPicture
      type="application/x-mpegURL"
      >
      Your browser does not support the video tag.
    </video>
  </div>
</div>
<div class="video-container-below">
  <h2>{{ title }}</h2>
  <p>{{ description }}</p>
</div>        
</div>





  <!-- <div class="video-container">
    <video id="my-videos" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264"
      data-setup="{}">
      <source src="https://storage.googleapis.com/videoflix-videos/hls/scooter/master.m3u8" type="application/x-mpegURL">
      Your browser does not support the video tag.
    </video>
  </div> -->
