<div class="slideshow-wrapper flex justify-center items-center">
   <div class="left-arrow-wrapper">
      <div class="w-20 px-4 -mt-5">
        <a *ngIf="showLeftArrow" (click)="scrollLeft()"
            class="rounded-md bg-accentColor px-2.5 py-2.5 text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white shadow-sm 
          hover:bg-accentColorHover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
          focus-visible:outline-accentColor cursor-pointer flex justify-center items-center border-2 border-textColorPrimary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
        </a>
      </div>
    </div>

    <div class="video-slideshow">
        <div #line class="line" (scroll)="checkScroll()" *ngIf="!loading">
            <app-video #targetElement *ngFor="let video of videoData; let index = index" class="app-video" 
                [hlsPlaylistUrl]="video.hlsPlaylistUrl"
                [posterUrlGcs]="video.posterUrlGcs || '/assets/img/videostore/300.png'" 
                [title]="video.title"
                [age]="video.age" 
                [resolution]="video.resolution" 
                [release_date]="video.release_date"
                [description]="video.description" 
                [category]="video.category"
            
                (mouseenter)="onElementHover($event)"
                (mouseleave)="onElementLeave($event)">
            </app-video>
        </div>
        <div class="thumbnail-loop-container">
            <div class="thumbnail-loop" [ngClass]="animationClass">
                <div class="thumbnail-loop-img-box">
                    <img *ngFor="let pic of thumbnails" [src]="pic" class="thumbnail-loop-img">
                </div>
                <div class="thumbnail-loop-img-box">
                    <img *ngFor="let pic of thumbnails" [src]="pic" class="thumbnail-loop-img">
                </div>
            </div>
        </div>
    </div>
    <div class="right-arrow-wrapper">
      <div class="w-20 px-4 -mt-5">
        <a *ngIf="showRightArrow" (click)="scrollRight()"
            class="rounded-md bg-accentColor px-2.5 py-2.5 text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white shadow-sm 
          hover:bg-accentColorHover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
          focus-visible:outline-accentColor cursor-pointer flex justify-center items-center border-2 border-textColorPrimary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </a>
       </div>
    </div>
</div>