::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #e5e7ebc4;
}

::-webkit-scrollbar-thumb {
    background: #2c246b;
}

::-webkit-scrollbar-thumb:hover {
    background: #830794cf;
}