<div class="w-full h-full overflow-hidden bg-gradient-to-r from-welcome-from to-welcome-to">

    <img class="frontpage-bg-animation absolute" src="assets/svg/rings_background.svg" alt="Loading Rings">

    <header *ngIf="!loading" class="absolute inset-x-0 top-0 z-50">
        <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="logo-container absolute">
                <app-logo></app-logo>
            </div>
            <div class="flex lg:hidden">
                <button type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-textColorPrimary">
                    <span class="sr-only">Open main menu</span>
                    <!-- <svg class="h-9 w-9" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg> -->
                </button>
            </div>
            <!-- <div *ngIf="!loggedIn" class="hidden lg:flex lg:flex-1 lg:justify-end" (click)="navService.login()">
                <a class="text-lg font-semibold leading-6 text-textColorPrimary cursor-pointer">Log in <span
                        aria-hidden="true">&rarr;</span></a>
            </div> -->
        </nav>
    </header>

    <div *ngIf="!loading" class="relative isolate px-6 pt-14 lg:px-8">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
            aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
        <div class="mx-auto max-w-md py-32 sm:py-42 md:py-44 lg:py-56 sm:max-w-md md:max-w-xl lg:max-w-2xl">
            <div class="text-center flex flex-col items-center">
                <h1 class="text-center text-3xl font-bold tracking-tight text-textColorPrimary w-64 sm:text-3xl md:text-4xl lg:text-5xl 
                    sm:w-64 md:w-96" [ngClass]="{ 'lg:w-96' : loggedIn, 'lg:w-full' : !loggedIn }">
                    {{ loggedIn ? 'Ready For New Adventures?' : 'Unleash Unlimited Entertainment' }}</h1>
                <p class="mt-6 text-md leading-8 text-textColorSecondary sm:text-md md:text-lg lg:text-xl">
                    {{ loggedIn ? 'Dive back into your favorite movies, series and exclusive content.
                    Continue watching, discover new shows, and enjoy streaming anytime, anywhere!' :
                    'Discover a world of movies, series, and exclusive content at your fingertips.
                    Join us now and start streaming your favorite shows anytime, anywhere!' }}
                </p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a (click)="navService.register()" class="rounded-md bg-accentColor px-3.5 py-2 sm:py-2 md:py-2.5 lg:py-2.5 
                        text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white shadow-sm 
                        hover:bg-accentColorHover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
                        focus-visible:outline-accentColor cursor-pointer">
                        {{ loggedIn ? 'Continue' : 'Get started'}}</a>
                    <a *ngIf="!loggedIn" (click)="navService.login()"
                        class="flex items-center gap-2 text-md sm:text-md md:text-lg lg:text-lg font-semibold leading-6 text-textColorPrimary cursor-pointer hover:text-textColorHover">
                        Log In <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                                stroke="currentColor" class="size-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                            </svg>
                        </span></a>
                    <a *ngIf="loggedIn" (click)="logout()"
                        class="flex items-center gap-2 text-md sm:text-md md:text-lg lg:text-lg font-semibold leading-6 text-textColorPrimary cursor-pointer hover:text-textColorHover">
                        Log Out
                        <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                                stroke="currentColor" class="size-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                            </svg>
                        </span></a>
                </div>
            </div>
        </div>
    </div>
</div>