<div [ngClass]="{'scale-video-container': isHover}" 
    (mouseenter)="onHover()" 
    (mouseleave)="onLeave()" 
    class="video-container-wrapper">

    <div class="video-container">
        <img class="poster" [src]="video.posterUrlGcs" *ngIf="thumbnailVisible">
        <video #videoPlayer class="video-js vjs-default-skin">
              Your browser does not support the video tag.
        </video>
    </div>

    <div *ngIf="isHover" class="info-container bg-accentColor">
       <p>{{video.title}}</p>
       <p>{{video.description}}</p>
       <p>{{video.age}}</p>
    </div>
</div>
