<main @fadeInPage class="grid min-h-full place-items-center bg-customGray px-6 py-24 lg:py-32 lg:px-8">
    <div class="text-center">
        <p class="text-base font-semibold text-accentColor lg:text-4xl">Account Created Successfully!</p>
        <!-- <h1 class="mt-4 text-3xl font-bold tracking-tight text-defaultTextColor lg:text-5xl">Account Created Successfully!</h1> -->
        <p class="mt-6 text-base leading-7 text-defaultTextColor">
            A confirmation email has been sent to your inbox.<br>
            Please click the link in the email to activate your account.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a (click)="navigateBack()" class="rounded-md bg-accentColor px-3.5 py-2.5 text-lg font-semibold text-white shadow-lg 
                hover:bg-accentColorHover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
                focus-visible:outline-accentColor cursor-pointer">Back to Login</a>
        </div>
    </div>
</main>