<navbar [closeMenu]="closeMenu"></navbar>
<div @fadeIn (click)="closeUserMenu()" class="bg-gradient-to-r from-default-from to-default-to px-6 py-12 lg:px-8"
    style="height: calc(100% - 66px);">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
        aria-hidden="true">
        <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>

    <!-- <div class="space-y-6 mx-auto max-w-xl">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-textColorPrimary sm:text-4xl">Imprint</h2>
        </div>
        <p class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorSecondary text-center !mt-10">
            <b class="text-textColorPrimary">Responsible Instance:</b><br>
            Barnabas Gonda<br>
            Mühlackerweg 9<br>
            83246 Unterwössen<br>
            Deutschland<br><br>
            <strong class="text-textColorPrimary">E-Mail</strong>:<br>
            <a href="mailto:mail@timvoigt.ch" target="_blank" class="text-center hover:text-textColorHover">
                barnabas.gonda&#64;googlemail.com
            </a>
        </p>
    </div> -->

    <div class="space-y-6 mx-auto max-w-xl">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-textColorPrimary sm:text-4xl">Impressum</h2>
        </div>
        <p class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorSecondary text-center !mt-10">
            <b class="text-textColorPrimary">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</b><br>
            Barnabas Gonda<br>
            Mühlackerweg 9<br>
            83246 Unterwössen<br>
            Deutschland<br><br>
            <strong class="text-textColorPrimary">Kontakt</strong>:<br>
            Telefon: <a href="tel:+4916093086904" class="text-center hover:text-textColorHover">+49 16093086904</a><br>
            E-Mail: <a href="mailto:barnabas.gonda@googlemail.com" class="text-center hover:text-textColorHover">barnabas.gonda&#64;googlemail.com</a><br><br>
            
            <b class="text-textColorPrimary">Hinweis zur Online-Streitbeilegung:</b><br>
            Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr" target="_blank" class="text-center hover:text-textColorHover">https://ec.europa.eu/consumers/odr</a>. Meinee E-Mail-Adresse finden Sie oben im Impressum.<br><br>
            
            <b class="text-textColorPrimary">Haftungsausschluss (Disclaimer):</b><br>
            Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br><br>
    
            <b class="text-textColorPrimary">Verbraucherstreitbeilegung/Universal-Schlichtungsstelle:</b><br>
            Ich bin nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
        </p>
    </div>
    


</div>
<footer></footer>