.random-video-wrapper {
  height: calc(100vh - 4rem);
  width: 100%;

  .random-video-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: opacity 2s ease;

    .random-video-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 0;
    }

    .random-video-overlay {
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 5%;
      z-index: 1;

      .random-video-info {
        width: 36vw;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        .bg-greyTransparent {
          &:hover {
            background-color: #dbdbdbe0;
          }
        }
      }
    }
  }
}

.video-slideshow {
  display: flex;
  justify-content: center;
  position: relative;
 // margin: 2rem 4rem;
 // height: 160px;

  .line {
    overflow-x: scroll;
    height: 420px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
    gap: 1.5rem;
    scroll-behavior: smooth;
    transition: opacity 2s ease;
    margin-left: 80px;
    margin-right: 80px;
  }
}


.video-slideshow-left {
  z-index: 130;
  width: 80px;
  height: 170px;
  position: absolute;
  left: 0;
  top: 100px;
  cursor: pointer; 
  background-color:  #7400c2;
  transition: all 175ms ease-in-out;
  &:hover {
    background-color: #aa42f0;
    transition: all 175ms ease-in-out;
    #left1
    {
      display: flex;
   
    }
  }
}

.left-wrapper {
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 101;
  width: 80px;
  height: 200px;
}

.right-wrapper {
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 101;
  width: 80px;
  height: 200px;
}

.video-slideshow-right {
  z-index: 102;
  width: 80px;
  height: 170px;
  position: absolute;
  right: 0;
  top: 100px;
  cursor: pointer;
  background-color:  #7400c2;
  transition: all 175ms ease-in-out;
  &:hover {
    background-color: #aa42f0;
    transition: all 175ms ease-in-out;
    #right1
     {
      display: block;
    }
  }
}

// .video-slideshow-left-2 {
//   z-index: 102;
//   width: 80px;
//   height: 150px;
//   position: absolute;
//   left: 0;
//   top: 68px;

//   &:hover {
//     background-color: #470a80;

//     #left1,
//     #left2,
//     #left3 {
//       display: flex;
//     }
//   }
// }

// .video-slideshow-right-2 {
//   z-index: 102;
//   width: 80px;
//   height: 150px;
//   position: absolute;
//   right: 0;
//   top: 68px;

//   &:hover {
//     background-color: #470a80;

//     #right1,
//     #right2,
//     #right3 {
//       display: block;
//     }
//   }
// }

.video-slideshow::-webkit-scrollbar {
  display: none;
}

.line::-webkit-scrollbar {
  display: none;
}

#left1,
#left2,
#left3 {
  width: 50px;
  height: 70px;
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 10;
  //display: none;
}

#right1,
#right2,
#right3 {
  width: 50px;
  height: 70px;
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 10;
 
}

.title {
  color: white;
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 4rem;
  font-weight: bold;
  z-index: 1;
}


.fsk {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 3px solid white;
  padding-left: 35px;
  color: white;
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 1.5rem;
  height: 50px;
  width: 150px;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}


.crr {
  display: flex;
  gap: 8px;
  color: rgb(216, 216, 216);
}

.description {
  display: flex;
  width: 70%;
  height: auto;
  color: white;
  position: absolute;
  top: 260px;
  left: 50px;
  //font-size: 1rem;
 // margin-top: 0.5rem;
  z-index: 1;
}


// Responsive Styles
@media (max-width: 600px) {
  .line {
    flex-wrap: wrap;
    gap: 48px;
    height: auto;
    padding-top: 48px;
  }

  .video-slideshow-left {
    display: none;
  }

  .video-slideshow-right {
    display: none;
  }
}

// TypeScript Added Styles
.video-size {
  // bearbeiten!!!
  display: flex;
}

.transition-slow {
  transition: transform 0.5s ease-in-out, z-index 0.5s ease-in-out;
}


.muted {
  background-color: rgb(177, 165, 165);
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  width: 58px;
  height: 58px;
  cursor: pointer;
  transition: all 175ms ease-in-out;
  border: 5px solid #470a80 !important;
  padding: 8px;
  border-radius: 15%;
  &:hover {
    scale: 1.2;
    transition: all 175ms ease-in-out;
    filter: brightness(2);
  }
}




