.random-video-wrapper {
  height: calc(100vh - 4rem);
  width: 100%;

  .random-video-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: opacity 2s ease;

    .random-video-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 0;
    }

    .random-video-overlay {
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 5%;
      z-index: 1;

      .random-video-info {
        width: 36vw;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        .bg-greyTransparent {
          &:hover {
            background-color: #dbdbdbe0;
          }
        }

        .fsk-logo {
          height: 50px;
          width: 150px;
          position: absolute;
          top: -25px;
          right: 0;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.3);
          border-left: 3px solid white;
          padding-left: 35px;
        }
      }
    }

    .mute-btn-container {
      position: absolute;
      right: 50px;
      bottom: 50px;
      z-index: 100;
      border-radius: 6px;
    }
  }
}

.slideshow-wrapper {
  overflow: visible;

  .video-slideshow {
    display: flex;
    justify-content: center;
    position: relative;
    width: calc(100% - 8.5rem);

    .line {
      overflow-x: hidden;
      padding-top: 3rem;
      height: 350px;
      display: flex;
      align-items: start;
      gap: 1.5rem;
      scroll-behavior: smooth;
      transition: opacity 255ms ease;
    }
  }
}

.video-slideshow::-webkit-scrollbar {
  display: none;
}

.line::-webkit-scrollbar {
  display: none;
}

.transition-slow {
  transition: transform 255ms ease-in-out, z-index 255ms ease-in-out;
}

// Responsive Styles
@media (max-width: 600px) {
  .line {
    flex-wrap: wrap;
    gap: 48px;
    height: auto;
    padding-top: 48px;
  }

  .video-slideshow-left {
    display: none;
  }

  .video-slideshow-right {
    display: none;
  }
}




.-mt-5 {
  margin-top: -5%;
}

/// FIXME issues with overblending of containers 

.line1-cover {
  position: absolute;
  bottom: 0;
  left: -5rem;
  right: -5rem;
  top: 270px;
  overflow: hidden;
}

.show-posters {
  display: flex;
  width: 200%;
}

.posters-wrapper {
  display: flex;
  width: 50%;
  gap: 1rem;
}

.show-posters img {
  filter: grayscale(100%);
  opacity: 0.2;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.slide-left-animation {
  animation: slideshowLeft 20s linear infinite;
}

.slide-right-animation  {
  animation: slideshowRight 20s linear infinite;
}

@keyframes slideshowLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideshowRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
