<div class="w-full flex random-video-wrapper">
    <div class="random-video-container w-full h-full relative">
        <video preload="auto" #videoPlayerMain class="random-video-content w-full h-full object-cover" [src]="videoUrl">
            Your browser does not support the video tag.
        </video>
        <div class="random-video-overlay">
            <div class="random-video-info">
                <h2 class="text-5xl text-textColorPrimary">Your description goes here</h2>
                <span class="text-textColorPrimary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eum
                    nobis
                    voluptates voluptatibus ex, saepe voluptatem nostrum obcaecati consequatur suscipit quidem omnis
                    commodi
                    pariatur necessitatibus totam, nesciunt ipsam porro quos?</span>
                <div class="flex items-center justify-center gap-x-9">
                    <a style="width: 185px; text-align: center; white-space: nowrap;" class="rounded-md bg-accentColor px-9 py-2 sm:py-2 md:py-2.5 lg:py-2.5 
                        text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white shadow-sm 
                        hover:bg-accentColorHover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
                        focus-visible:outline-accentColor cursor-pointer">
                        Abspielen</a>
                    <a style="width: 185px; text-align: center; white-space: nowrap;" class="rounded-md bg-greyTransparent px-9 py-2 sm:py-2 md:py-2.5 lg:py-2.5 
                        text-md sm:text-md md:text-lg lg:text-lg font-semibold text-white shadow-sm cursor-pointer hover:text-accentColor">weitere
                        Infos <span aria-hidden="true" class="btn-arrow">→</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="video-slideshow">
    <div id="line1" #line1 class="line" *ngIf="!loading">
        <app-video *ngFor="let video of videos$ | async; let index = index" class="app-video"
            [id]="'videoLine1' + index" [posterUrlGcs]="video.posterUrlGcs || '/assets/img/videostore/300.png'"
            [title]="video.title" [description]="video.description" [category]="video.category">
        </app-video>
    </div>
    <!-- (mouseenter)="shouldHandleEvent('videoLine1' + index) ? onHover('videoLine1' + index) : null" -->
    <!-- (mouseleave)="shouldHandleEvent('videoLine1' + index) ? onLeave('videoLine1' + index) : null" -->

    <!-- <div class="video-slideshow-left">
        <img id="left1" (click)="scrollingLeft1()" (mouseleave)="toVisibleModus1()"
            src="/assets/img/videostore/arrow-left.png">
    </div>
    <div class="video-slideshow-right">
        <img id="right1" (click)="scrollingRight1()" (mouseleave)="toVisibleModus1()"
            src="/assets/img/videostore/arrow-right.png">
    </div> -->
</div>

<!-- <div class="video-slideshow">
    <div id="line2" #line2 class="line" *ngIf="!loading">
        <app-video *ngFor="let video of videos$ | async; let index = index" class="app-video"
            [id]="'videoLine2' + index"
            [posterUrlGcs]="video.posterUrlGcs || '/assets/img/videostore/300.png'" 
            [title]="video.title"
            [description]="video.description" 
            [category]="video.category"
        
            (mouseenter)="shouldHandleEvent('videoLine2' + index) ? onHover('videoLine2' + index) : null"
            (mouseleave)="shouldHandleEvent('videoLine2' + index) ? onLeave('videoLine2' + index) : null">
        </app-video>
    </div>

    <div class="video-slideshow-left-2">
        <img id="left2" (click)="scrollingLeft2()" (mouseleave)="toVisibleModus2()"
            src="/assets/img/videostore/arrow-left.png">
    </div>
    <div class="video-slideshow-right-2">
        <img id="right2" (click)="scrollingRight2()" (mouseleave)="toVisibleModus2()"
            src="/assets/img/videostore/arrow-right.png">
    </div>
</div> -->





<!-- <img id="posterImgMain" [src]="posterUrlGcs"
            class="absolute top-0 left-0 w-full h-full object-cover"> -->
<!-- <h1 class="title absolute top-4 left-4 text-white">{{title || ''}}</h1> -->
<!-- <p class="description absolute top-16 left-4 text-white">{{description || ''}}</p> -->