@use 'assets/scss/fonts/fonts.scss';

@use 'assets/scss/keyframes/keyframes.scss';

@use 'assets/scss/utils/helper.scss';
@use 'assets/scss/utils/scrollbar.scss';

@use "assets/scss/elements/buttons.scss";
@use "assets/scss/elements/inputs.scss";
@use "assets/scss/elements/links.scss";
@use "assets/scss/elements/loading.scss";

@use "assets/scss/core/form.scss";
@use "assets/scss/core/logo.scss";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
    height: 100%;
    background-color: rgb(29, 29, 29);
}

.custom-left-extra {
    left: -40rem;

    @media(max-width: 835px) {
        left: -30rem;
    }

    @media(max-width: 639px) {
        left: -20rem;
    }
}

.opa-022 {
    opacity: 0.22 !important;

    @media(max-width: 639px) {
        opacity: 0.35 !important;
    }
}

.video-box-wrapper {
    display: flex;
    flex-wrap: wrap;
}

app-video {
    @media(max-width: 768px) {
        // width: calc(100% - 8.5rem);
    }
}