@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
    height: 100%;
    background-color: rgb(29, 29, 29);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;

    color: #aa42f0;
}

input {
    border-width: 1px !important;

    &:focus {
        border-color: #2528eb !important;
    }
}

.btn-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 3;
    cursor: pointer;
    // background-color: var(--accentColor);
    background-color: #7400c2;
    padding: 0.5rem;
    border-radius: 8px;

    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));

    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-bg-opacity: 1;

    transition: all 105ms ease-in-out;

    &:hover {
        --tw-bg-opacity: 1;
        // background-color: var(--accentColorHover);
        background-color: #aa42f0;
    }
}

button,
a {
    transition: all 105ms ease-in-out;
}

.submit-btn {
    height: 56px;
}

.text-danger {
    // width: 100%;
    font-size: 14px;
    font-style: italic;
    color: #f55c5c;
}

.input-error {
    bottom: -21px;
    right: 4px;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.25);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    animation: spin 1s linear infinite;
    margin-top: -2px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
